body{
	background-image: url('../images/spaceproject.gif');
	background-repeat: no-repeat;
	background-size: cover;
	width:50%;
	margin:auto;
}
pre{
	color:white;
	border:2px solid white;
	display:flex;
	margin:20px;
	padding:2px;
	justify-content:center;
}
.container{
	width:360px;
}

h1{
	color:white;
	text-align:center;
	border:2px solid black;
}
#inputfield{
	width:300px;
	height:40px;
	border:2 px solid black;
	outline:none;
	font-size:25px;
	vertical-align:middle;
}
#forminput{
margin:35px;
margin-left:55px;
height:45px;
width:200px;
}
#addtodo{
	height:50px;
	width:50px;
	border:2px solid black;
	font-size:25px;
	vertical-align:middle;
}

.to-dos{
	margin-top:25px;
}

.paragraph-styling{
	margin:0;
	cursor:pointer;
	font-size:20px;
}